body{
    background-color: rgb(255, 148, 148);
}

.errado{
    text-align: center;
}

.errado > h1{
    margin-top: 40vh;
    color: red;
    font-size: 4em;
}

.errado > p{
    color: rgb(247, 54, 54);
    font-size: 2em;
}